{% extends "base.html" %}

{% block title %}Genrate Resume {% endblock %}
{% block content %}
<h1>This is the Resume Genrate Page</h1>

<form method="POST" action="/resume-template">

    <input type="text"
       name="name"
       placeholder="Enter name"
       minlength="3"
       maxlength="50"
       required><br><br>
    <input type="email" placeholder="Enter email" name="email"><br><br>
    <input type="tel"
       name="number"
       placeholder="Enter 10 digit mobile number"
       pattern="[0-9]{10}"
       title="Enter 10 digit mobile number"
       required><br><br>
    <textarea name="address"  placeholder="Enter address"></textarea><br><br>
    <textarea name="career"  placeholder="Enter Career Summary"></textarea><br><br>
    <textarea name="skills"  placeholder="Enter skills"></textarea><br><br>
    <h2>Education</h2><br>

<input type="text"
       name="college_name"
       placeholder="College / University Name">

<input type="text"
       name="degree_name"
       placeholder="Degree Name">

<input type="text"
       name="education_year"
       placeholder="2021 - 2024">

<input type="text"
       name="cgpa"
       placeholder="CGPA / Percentage">
    <textarea name="experience"  placeholder="Enter experience"></textarea><br><br>
    <textarea name="projects"  placeholder="Enter projects"></textarea><br><br>
    <input type="submit" value="Generate Resume">
</form>

{% endblock %}